/* font */
/* silk font */
/* .silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-background: rgb(11, 19, 32);
  --second-bg: #eaeaea;
  --color: #eaeaea;
  --second-color: #010101;
  --bg-img: rgb(11, 19, 31);
  --main-header-color: #101a28fa;
  --box-shadow: 0px 0px 10px #167889ca;

  --wrapper-persoal: #eaeaea;
  --personal--text-bg: #020202;
  --text-personal: #fff;
}

.light-thame {
  --main-background: #eaeaea;
  --main-header-color: #fff;
  --color: #010101;
  --bg-img: rgb(205, 205, 205);
  --box-shadow: 0px 0px 10px #000;
  transition: all 0.3s ease-in-out;
}

body {
  color: var(--color);
  background-color: var(--main-background);
}

header {
  background-color: var(--main-header-color);
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0px 0px 10px #000;
  z-index: 1;
}

.logo {
  display: flex;
  font-size: 20px;
  margin-top: 7px;
  color: #f9532d;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
}

.link {
  color: var(--color);
  margin-top: 10px;
  text-decoration: none;
  background-color: var(--main-header-color);
}

.link:hover {
  color: #f9532d;
}

.night {
  color: #f9532d;
  cursor: pointer;
}

.conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.img {
  width: 25%;
  height: auto;
  background-color: var(--bg-img);
  box-shadow: 0px 0px 10px #000;
  border-radius: 50%;
  /* border-radius: 13px; */
  /* border-radius: 50% 80% / 70% 10%; */
  border-top: 2px solid #f9532d;
}

.text {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.shlnmzq {
  color: #f9532d;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* contact */
#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  gap: 8rem;
}

.h1-contact {
  font-family: "Silkscreen", sans-serif;
  text-shadow: 1px 1px #000;
}

.link- {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper-mail {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--color);
}
.wrapper-whatsapp {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--color);
}

.email-icon {
  font-size: 60px;
  color: #f9532d;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.whatsapp-icon {
  font-size: 60px;
  color: #f9532d;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.email-text {
  font-size: 28px;
}

.whatsapp-text {
  font-size: 28px;
}

.wrapper-instagram {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--color);
}

.instagram-icon {
  font-size: 60px;
  color: #f9532d;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.instagram-text {
  font-size: 28px;
}

.email-icon:hover,
.instagram-icon:hover {
  color: #f9522da7;
}

.description-email {
  position: absolute;
  width: 25%;
  height: auto;
  background-color: var(--second-bg);
  color: var(--second-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 11px;
  box-shadow: 0px 0px 10px #000;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  padding: 24px;
  padding-bottom: 30px;
}

.description-whatsapp {
  position: absolute;
  width: 25%;
  height: auto;
  background-color: var(--second-bg);
  color: var(--second-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 11px;
  box-shadow: 0px 0px 10px #000;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  padding: 24px;
  padding-bottom: 30px;
}

.description-instagram {
  position: absolute;
  left: 50;
  top: 50;
  width: 25%;
  height: auto;
  background-color: var(--second-bg);
  color: var(--second-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 11px;
  box-shadow: 0px 0px 10px #000;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  padding: 24px;
  padding-bottom: 30px;
}

.description-email.active {
  transform: scale(1);
}
.description-instagram.active {
  transform: scale(1);
}

.description-whatsapp.active {
  transform: scale(1);
}

.btn {
  background-color: #020202;
  color: #eaeaea;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #020202bc;
}

/* about */
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: var(--second-color);
}

.personaly {
  width: 80%;
  height: auto;
  padding: 20px 60px;
  background-color: #ffffff9b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  border-radius: 14px;
  box-shadow: 0px 0px 10px #000;
}

.personal-icon {
  font-size: 70px;
  color: #030303;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}

.personal-text {
  width: 600px;
  height: auto;
  color: #020202;
  font-weight: 1000;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

/* skill */
.skill {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 54px;
}

.wrapper-frontend {
  width: 40%;
  height: 300px;
  padding: 15px 15px;
  background-color: #eaeaeab3;
  color: #020202;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  border: 2px solid #020202b2;
}

.h2-skill {
  font-weight: 1300;
}

.bungkus1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 10px 40px;
}

.bungkus2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.bungkus3 {
  display: flex;
  flex-direction: column;
}

.p {
  color: #020202ba;
  font-size: 14px;
}

/* project */
#project {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.h1-project {
  font-family: "Silkscreen", sans-serif;
  text-shadow: 1px 1px 2px pink;
}

.wrapper-project {
  width: 60%;
  height: 50vh;
  background-color: #5b0d0d;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 2px solid #030303bc;
  border-radius: 10px;
  gap: 5px;
  box-shadow: 0px 0px 10px var(--color);
}

.project1-img {
  width: 180px;
  height: auto;
  border-radius: 18px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}

.btn-project {
  border: none;
  background-color: #000000e1;
  padding: 3px 5px;
  color: #eaeaea;
  cursor: pointer;
}

.btn-project:hover {
  background-color: #040404ce;
}

.h3-project {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #eaeaea;
}

.humberger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color);
}

/* tab persion */
@media screen and (min-width: 762px) and (max-width: 991px) {
  .skill {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .wrapper-frontend {
    width: 40%;
    height: auto;
    background-color: #eaeaeab3;
    color: #020202;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #020202b2;
    gap: 80px;
  }

  .h2-skill {
    font-weight: 1000;
    font-size: 40px;
  }

  .bungkus1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }

  .bungkus2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .bungkus3 {
    display: flex;
    flex-direction: column;
  }

  .p {
    color: #020202ba;
    font-size: 14px;
  }

  .check {
    font-size: 30px;
  }

  .h5s {
    font-size: 22px;
  }



  #contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    gap: 8rem;
  }

  .wrapper-project {
    width: 280px;
    height: 40vh;
 
  }
}

/* mobile persion */
@media screen and (min-width: 450px) and (max-width: 762px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  /* .navbar {
    display: none;
  } */

  .tombol {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .humberger {
    display: block;
  }

  .humberger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .humberger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .humberger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 16;
    flex-direction: column;
    padding: 10px;
    background-color: var(--main-header-color);
    width: 100%;
    height: auto;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }



  .navbar.active {
    left: 0;
  }

  .img {
    min-width: 40%;
  }

  .conteiner {
    gap: 10px;
    width: 100%;
    height: 100vh;
  }

  .text {
    font-size: 100%;
  }

  /* about */
  .about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/background-about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 70px;
  }

  .personaly {
    gap: 20px;
    padding: 10px 14px;
  }

  .personal-icon {
    font-size: 50px;
  }
  .personal-text {
    font-size: 16px;
  }

  /* skill */
  .skill {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-frontend {
    width: 80%;
    height: auto;
    background-color: #eaeaeab3;
    color: #020202;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #020202b2;
    gap: 80px;
  }

  .h2-skill {
    font-weight: 1000;
    font-size: 40px;
  }

  .bungkus1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }

  .bungkus2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .bungkus3 {
    display: flex;
    flex-direction: column;
  }

  .p {
    color: #020202ba;
    font-size: 14px;
  }

  .check {
    font-size: 30px;
  }

  .h5s {
    font-size: 22px;
  }

  .wrapper-project {
    height: 50vh;
  }

  /* contact */
  #contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    gap: 8rem;
  }

  .h1-contact {
    font-family: "Silkscreen", sans-serif;
    text-shadow: 1px 1px #000;
  }

  .link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .wrapper-mail {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color);
  }
  .wrapper-whatsapp {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color);
  }

  .email-icon {
    font-size: 60px;
    color: #f9532d;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }

  .whatsapp-icon {
    font-size: 60px;
    color: #f9532d;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }

  .email-text {
    font-size: 28px;
  }

  .whatsapp-text {
    font-size: 28px;
  }

  .wrapper-instagram {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color);
  }

  .instagram-icon {
    font-size: 60px;
    color: #f9532d;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }

  .instagram-text {
    font-size: 28px;
  }

  .email-icon:hover,
  .instagram-icon:hover {
    color: #f9522da7;
  }

  .description-email {
    position: absolute;
    width: 50%;
    height: auto;
    background-color: var(--second-bg);
    color: var(--second-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 11px;
    box-shadow: 0px 0px 10px #000;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    padding: 24px;
    padding-bottom: 30px;
  }

  .description-whatsapp {
    position: absolute;
    width: 50%;
    height: auto;
    background-color: var(--second-bg);
    color: var(--second-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 11px;
    box-shadow: 0px 0px 10px #000;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    padding: 24px;
    padding-bottom: 30px;
  }

  .description-instagram {
    position: absolute;
    left: 50;
    top: 50;
    width: 50%;
    height: auto;
    background-color: var(--second-bg);
    color: var(--second-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 11px;
    box-shadow: 0px 0px 10px #000;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    padding: 24px;
    padding-bottom: 30px;
  }

  .description-email.active {
    transform: scale(1);
  }
  .description-instagram.active {
    transform: scale(1);
  }

  .description-whatsapp.active {
    transform: scale(1);
  }

  .btn {
    background-color: #020202;
    color: #eaeaea;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #020202bc;
  }

  .wrapper-project {
  
    height: 50vh;
    
  }
}

/* mobile small */
@media screen and (max-width: 450px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .navbar {
    display: flex;
  }

  .tombol {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .humberger {
    display: block;
  }

  .humberger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .humberger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .humberger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 14px;
    padding: 15px;
    flex-direction: column;
    background-color: var(--main-header-color);
    width: 100%;
    height: auto;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  li {
    margin: 20px;
  }

  .navbar.active {
    left: 0;
  }

  .img {
    min-width: 40%;
  }

  .conteiner {
    gap: 10px;
    width: 100%;
    height: 100vh;
  }

  .text {
    font-size: 10px;
  }

  /* about */
  .about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/background-about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 70px;
  }

  .personaly {
    gap: 20px;
    padding: 10px 14px;
  }

  .personal-icon {
    font-size: 35px;
  }
  .personal-text {
    font-size: 10px;
  }

  /* skill */
  .skill {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-frontend {
    width: 95%;
    height: auto;
    background-color: #eaeaeab3;
    color: #020202;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #020202b2;
    gap: 70px;
  }

  .h2-skill {
    font-weight: 1000;
    font-size: 20px;
  }

  .bungkus1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }

  .bungkus2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .bungkus3 {
    display: flex;
    flex-direction: column;
  }

  .p {
    color: #020202ba;
    font-size: 10px;
  }

  .check {
    font-size: 20px;
  }

  .h5s {
    font-size: 16px;
  }

  .wrapper-project {
    height: 50vh;
  }

  /* contact */
  #contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
    gap: 8rem;
  }

  .h1-contact {
    font-family: "Silkscreen", sans-serif;
    text-shadow: 1px 1px #000;
  }

  .link- {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .wrapper-mail {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color);
  }
  .wrapper-whatsapp {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color);
  }

  .email-icon {
    font-size: 60px;
    color: #f9532d;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }

  .whatsapp-icon {
    font-size: 60px;
    color: #f9532d;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }

  .email-text {
    font-size: 28px;
  }

  .whatsapp-text {
    font-size: 28px;
  }

  .wrapper-instagram {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color);
  }

  .instagram-icon {
    font-size: 60px;
    color: #f9532d;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }

  .instagram-text {
    font-size: 28px;
  }

  .email-icon:hover,
  .instagram-icon:hover {
    color: #f9522da7;
  }

  .description-email {
    position: absolute;
    width: 50%;
    height: auto;
    background-color: var(--second-bg);
    color: var(--second-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 11px;
    box-shadow: 0px 0px 10px #000;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    padding: 24px;
    padding-bottom: 30px;
  }

  .description-whatsapp {
    position: absolute;
    width: 50%;
    height: auto;
    background-color: var(--second-bg);
    color: var(--second-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 11px;
    box-shadow: 0px 0px 10px #000;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    padding: 24px;
    padding-bottom: 30px;
  }

  .description-instagram {
    position: absolute;
    left: 50;
    top: 50;
    width: 50%;
    height: auto;
    background-color: var(--second-bg);
    color: var(--second-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 11px;
    box-shadow: 0px 0px 10px #000;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    padding: 24px;
    padding-bottom: 30px;
  }

  .description-email.active {
    transform: scale(1);
  }
  .description-instagram.active {
    transform: scale(1);
  }

  .description-whatsapp.active {
    transform: scale(1);
  }

  .btn {
    background-color: #020202;
    color: #eaeaea;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #020202bc;
  }

  .wrapper-project {
    height: 37vh;
    
  }

  .project1-img {
    width: 120px;
  }
  
}
